:root {
    --background-color: #FFFCF4;
    
    --text-color-bold: #000000;
    --text-color-regular: #424242;
    --text-color-light: #929292;

    --font-family-bold: "Italiana", sans-serif;
    --font-family-regular: Arial;
}

body {
    background-color: var(--background-color);
    color: var(--text-color-regular);
    font-family: var(--font-family-regular);
    line-height: 1.6;
    
}