{% extends "dashboard/base.html" %}

{% block title %}Home - TopStyle Dashboard{% endblock %}

{% block styles %}
<link rel="stylesheet" href="../static/dashboard/styles/home.css" />
{% endblock %}

{% block content %}
<div class="container-horizontal">
    <div class="container-vertical">
        <div class="edit-caption">
            <img src="../static/assets/dashboard/pencil-icon.png" alt="Pencil icon" class="content-icon">
            <h4 class="edit-caption-text">Edit mission statement</h4>
        </div>
        <div class="edit-text-block">
            <h1 class="italiana-regular">{{ home_about_section.heading }}</h1>
            <p class="edit-text">{{ home_about_section.text }}</p>
        </div>
        <div class="pink-button save-changes disabled" id="saveMissionStatement">Save changes</div>
    </div>

    <div class="container-vertical">
        <div class="edit-caption">
            <img src="../static/assets/dashboard/image-icon.png" alt="Image icon" class="content-icon">
            <h4 class="edit-caption-text actionable" id="replaceAboutImagesButton">Replace images</h4>
        </div>
        <form id="aboutGalleryUploadForm" action="#" method="POST" enctype="multipart/form-data">
            <input id="aboutGalleryUploadInput" name="images" type="file" accept="image/*" multiple hidden>
            <div id="aboutGalleryContainer">
                <div id="galleryRows">
                    <div class="gallery-row"></div>
                    <div class="gallery-row"></div>
                    <div class="gallery-row"></div>
                </div>

                <div id="galleryCols">
                    <div class="gallery-col"></div>
                    <div class="gallery-col"></div>
                    <div class="gallery-col"></div>
                </div>

                <div id="galleryImgs">
                    <div class="gallery-item">
                        <div class="img-selector">
                            <div class="img-selected"></div>
                        </div>
                        <div class="img-placeholder"></div>
                        <img data-src="{{ home_about_section.gallery_image1 }}" alt="gallery image"
                            class="gallery-img lazy" />
                    </div>
                    <div class="gallery-item">
                        <div class="img-selector">
                            <div class="img-selected"></div>
                        </div>
                        <div class="img-placeholder"></div>
                        <img data-src="{{ home_about_section.gallery_image2 }}" alt="gallery image"
                            class="gallery-img lazy" />
                    </div>
                    <div class="gallery-item">
                        <div class="img-selector">
                            <div class="img-selected"></div>
                        </div>
                        <div class="img-placeholder"></div>
                        <img data-src="{{ home_about_section.gallery_image3 }}" alt="gallery image"
                            class="gallery-img lazy" />
                    </div>
                    <div class="gallery-item">
                        <div class="img-selector">
                            <div class="img-selected"></div>
                        </div>
                        <div class="img-placeholder"></div>
                        <img data-src="{{ home_about_section.gallery_image4 }}" alt="gallery image"
                            class="gallery-img lazy" />
                    </div>
                    <div class="gallery-item">
                        <div class="img-selector">
                            <div class="img-selected"></div>
                        </div>
                        <div class="img-placeholder"></div>
                        <img data-src="{{ home_about_section.gallery_image5 }}" alt="gallery image"
                            class="gallery-img lazy" />
                    </div>
                    <div class="gallery-item">
                        <div class="img-selector">
                            <div class="img-selected"></div>
                        </div>
                        <div class="img-placeholder"></div>
                        <img data-src="{{ home_about_section.gallery_image6 }}" alt="gallery image"
                            class="gallery-img lazy" />
                    </div>
                    <div class="gallery-item">
                        <div class="img-selector">
                            <div class="img-selected"></div>
                        </div>
                        <div class="img-placeholder"></div>
                        <img data-src="{{ home_about_section.gallery_image7 }}" alt="gallery image"
                            class="gallery-img lazy" />
                    </div>
                    <div class="gallery-item">
                        <div class="img-selector">
                            <div class="img-selected"></div>
                        </div>
                        <div class="img-placeholder"></div>
                        <img data-src="{{ home_about_section.gallery_image8 }}" alt="gallery image"
                            class="gallery-img lazy" />
                    </div>
                    <div class="gallery-item">
                        <div class="img-selector">
                            <div class="img-selected"></div>
                        </div>
                        <div class="img-placeholder"></div>
                        <img data-src="{{ home_about_section.gallery_image9 }}" alt="gallery image"
                            class="gallery-img lazy" />
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="container-horizontal">
    <div class="container-vertical">
        <div class="edit-caption">
            <img src="../static/assets/dashboard/pencil-icon.png" alt="Pencil icon" class="content-icon">
            <h4 class="edit-caption-text">Edit service statement</h4>
        </div>
        <div class="edit-text-block">
            <h1 class="italiana-regular">{{ home_services_section.heading }}</h1>
            <p class="edit-text">{{ home_services_section.text }}</p>
        </div>
        <div class="pink-button save-changes disabled" id="saveServicesStatement">Save changes</div>
    </div>

    <div class="container-vertical">
        <div class="edit-caption">
            <img src="../static/assets/dashboard/video-icon.png" alt="Video icon" class="content-icon">
            <h4 class="edit-caption-text actionable" id="replaceVideoButton">Replace salon video</h4>
        </div>
        <form id="salonVideoUploadForm" action="#" method="POST" enctype="multipart/form-data">
            <input id="salonVideoInput" name="images" type="file" accept="video/*" multiple hidden>
            <video src="{{ home_services_section.salon_video }}" id="salonVideo" alt="Salon Video" autoplay loop
                muted></video>
        </form>
    </div>
</div>

<div class="container-horizontal">
    <div class="container-vertical">
        <div class="edit-caption">
            <img src="../static/assets/dashboard/pencil-icon.png" alt="Pencil icon" class="content-icon">
            <h4 class="edit-caption-text">Edit stylists statement</h4>
        </div>
        <div class="edit-text-block">
            <h1 class="italiana-regular">{{ home_stylists_section.heading }}</h1>
            <p class="edit-text">{{ home_stylists_section.text }}</p>
        </div>
        <div class="pink-button save-changes disabled" id="saveStylistsStatement">Save changes</div>
    </div>

    <div class="container-vertical">
        <div class="edit-caption">
            <img src="../static/assets/dashboard/image-icon.png" alt="Image icon" class="content-icon">
            <h4 class="edit-caption-text actionable" id="replaceTeamPhotoButton">Replace team photo</h4>
        </div>
        <form id="teamPhotoUploadForm" action="#" method="POST" enctype="multipart/form-data">
            <input id="teamPhotoUploadInput" name="images" type="file" accept="image/*" hidden>
            <img src="{{ home_stylists_section.stylists_image }}" id="teamPhoto" alt="Team photo"></img>
        </form>
    </div>
</div>

<div class="container-horizontal">
    <div class="container-vertical">
        <div class="edit-caption">
            <img src="../static/assets/dashboard/pencil-icon.png" alt="Pencil icon" class="content-icon">
            <h4 class="edit-caption-text">Edit bridal statement</h4>
        </div>
        <div class="edit-text-block">
            <h1 class="italiana-regular">{{ home_bridal_section.heading }}</h1>
            <p class="edit-text">{{ home_bridal_section.text }}</p>
        </div>
        <div class="pink-button save-changes disabled" id="saveBridalStatement">Save changes</div>
    </div>

    <div class="container-vertical">
        <div class="edit-caption">
            <img src="../static/assets/dashboard/image-icon.png" alt="Image icon" class="content-icon">
            <h4 class="edit-caption-text actionable" id="replaceBridalImagesButton">Replace images</h4>
        </div>
        <form id="bridalGalleryUploadForm" action="#" method="POST" enctype="multipart/form-data">
            <input id="bridalGalleryUploadInput" name="images" type="file" accept="image/*" multiple hidden>
            <div id="bridalImageGrid">
                <div class="gallery-item">
                    <div class="img-selector">
                        <div class="img-selected"></div>
                    </div>
                    <img src="{{ home_bridal_section.bridal_image1 }}" class="gallery-img bridal">
                </div>

                <div class="gallery-item">
                    <div class="img-selector">
                        <div class="img-selected"></div>
                    </div>
                    <img src="{{ home_bridal_section.bridal_image2 }}" class="gallery-img bridal">
                </div>

                <div class="gallery-item">
                    <div class="img-selector">
                        <div class="img-selected"></div>
                    </div>
                    <img src="{{ home_bridal_section.bridal_image3 }}" class="gallery-img bridal">
                </div>

                <div class="gallery-item">
                    <div class="img-selector">
                        <div class="img-selected"></div>
                    </div>
                    <img src="{{ home_bridal_section.bridal_image4 }}" class="gallery-img bridal">
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script type="module" src="../static/dashboard/scripts/pages/home.js"></script>
{% endblock %}