{% extends "dashboard/base.html" %}

{% block title %}Main - TopStyle Dashboard{% endblock %}

{% block styles %}
<link rel="stylesheet" href="../static/dashboard/styles/main.css" />
{% endblock %}

{% block content %}
<div class="container-horizontal">
    <div class="container-vertical">
        {% if current_user.role == 'admin' %}
        <div id="addEditorContainer">
            <h1 class="italiana-regular">Add Editor</h1>
            <form id="addEditorForm" method="POST" action="/dashboard/invite">
                <div id="editorFormInputs">
                    <input type="text" id="editorName" placeholder="Name:" required></input>
                    <input type="email" id="editorEmail" placeholder="Email:" required></input>
                </div>
                <button id="addEditorButton" type="submit">
                    <img src="../static/assets/dashboard/add-icon.png" alt="Add editor button" />
                </button>
            </form>
        </div>
        {% endif %}

        {% if current_user.role == 'admin' %}
        <div id="permittedEditorsContainer">
            <h1 class="italiana-regular">Permitted Editors</h1>
            <div id="permittedEditorsPanel">
                {% for permitted_user in permitted_users %}
                <div class="editor {{ permitted_user.status }}" data-user-id="{{ permitted_user.id }}"
                    data-user-status="{{ permitted_user.status }}">
                    <img src="../static/assets/dashboard/editor-icon.png" alt="Editor icon">
                    <h3 class="{% if permitted_user.id == seeded_admin_id %}non-deletable{% endif %}"
                        data-deletable="{{ 'false' if permitted_user.id == seeded_admin_id else 'true' }}">{{
                        permitted_user.name }}</h3>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        <video width="320" height="240" controls>
            <source src="../static/assets/dashboard/sample_video.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>

    <div class="container-vertical">
        <div id="monthlyStatsContainer">
            <div class="stat">
                <h1 class="italiana-regular">Visitors</h1>
                <h2 class="stat-number">{{ website_stats.visitors }}</h2>
            </div>

            <div class="stat">
                <h1 class="italiana-regular">Appointments Booked</h1>
                <h2 class="stat-number">{{ website_stats.appointments_booked }}</h2>
            </div>

            <div class="stat">
                <h1 class="italiana-regular">Emails Sent</h1>
                <h2 class="stat-number">{{ website_stats.emails_sent }}</h2>
            </div>
        </div>
    </div>
    <p id="mobileDisclaimer">Welcome to the TopStyle dashboard! To edit website content, please visit on a computer.</p>
</div>
{% endblock %}

{% block scripts %}
<script type="module" src="../static/dashboard/scripts/pages/main.js"></script>
{% endblock %}