<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<title>Stylists - TopStyle Dashboard</title>
		<link rel="icon" href="../static/assets/icons/TopStyleLogo.ico" type="image/x-icon" />
		<link href="https://fonts.googleapis.com/css2?family=Italiana&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="../static/dashboard/styles/shared.css" />
		<link rel="stylesheet" href="../static/dashboard/styles/stylists.css" />
	</head>

	<body>
		<div class="dashboard-alert">
			<p>Dashboard alert...</p>
		</div>

		<header id="header">
			<img src="../static/assets/TopStyleLogo.png" class="top-style-logo" alt="TopStyle salon logo" />

			<nav>
				<a href="{{ url_for('main.dashboard') }}" class="nav-link">Main</a>
				<div class="pages-menu-container">
					<h3 id="pagesMenuToggle" class="nav-link">Pages</h3>
					<div id="pagesMenu">
						<li><a href="{{ url_for('main.dashboard_home') }}">Home</a></li>
						<li><a href="{{ url_for('main.dashboard_services') }}">Services</a></li>
						<li><a href="{{ url_for('main.dashboard_stylists') }}">Our Team</a></li>
						<li><a href="{{ url_for('main.dashboard_bridal') }}">Bridal</a></li>
					</div>
				</div>
				<h3>{{ current_user.name }} - {{ current_user.role|capitalize }}</h3>
			</nav>
		</header>

        
		<div class="container-horizontal">
            <div class="add-stylist-container">
                <h1 class="italiana-regular">Add Stylist</h1>
                <form id="addStylistForm" method="POST" action="">
                    <div id="stylistFormInputs">
                        <input type="text" id="stylistName" placeholder="Name:" required></input>
                        <textarea id="stylistBio" placeholder="Bio:" required></textarea>
                    </div>
                    <button id="addStylistButton" type="submit">
                        <img src="../static/assets/dashboard/add-icon.png" alt="Add stylist button" />
                    </button>
                </form>
            </div>

			{% for stylist in stylists %}
				<div class="stylist stylist-editor" data-stylist-id="{{ stylist.id }}" data-stylist-order="{{ stylist.order }}">
                    <div class="stylist-image-container">
                        <div class="edit-caption">
                            <img src="../static/assets/dashboard/image-icon.png" alt="Image icon" class="content-icon">
							<h4 class="edit-caption-text actionable replace-stylist-photo-button">Replace photo</h4>
                        </div>
						<form action="#" method="POST" enctype="multipart/form-data">
							<input class="stylist-photo-input" name="images" type="file" accept="image/*" hidden>
							<img class="stylist-image stylist-image-preview" src="{{ stylist.image }}" alt="{{stylist.name}}'s image"></img>
                        </form>
                    </div>
					<div class="stylist-text">
						<div class="stylist-name-container">
							{% if not loop.first %}
							<img src="../static/assets/delete-icon.png" class="remove-stylist" alt="Remove stylist">
							{% endif %}
							<h4 class="italiana-regular stylist-name">{{ stylist.name }}</h4>
						</div>

						<p class="stylist-bio">{{ stylist.bio }}</p>
						<div class="pink-button save-changes disabled">Save changes</div>
					</div>
				</div>
			{% endfor %}
		</div>

		<script type="module" src="../static/dashboard/scripts/menu.js"></script>
		<script type="module" src="../static/dashboard/scripts/pages/stylists.js"></script>
	</body>
</html>
