{% extends "dashboard/base.html" %}

{% block title %}Stylists - TopStyle Dashboard{% endblock %}

{% block styles %}
<link rel="stylesheet" href="../static/dashboard/styles/stylists.css" />
{% endblock %}

{% block content %}

<div class="container-horizontal">
	<div class="add-stylist-container">
		<h1 class="italiana-regular">Add Stylist</h1>
		<form id="addStylistForm" method="POST" action="">
			<div id="stylistFormInputs">
				<input type="text" id="stylistName" placeholder="Name:" required></input>
				<textarea id="stylistBio" placeholder="Bio:" required></textarea>
			</div>
			<button id="addStylistButton" type="submit">
				<img src="../static/assets/dashboard/add-icon.png" alt="Add stylist button" />
			</button>
		</form>
	</div>

	{% for stylist in stylists %}
	<div class="stylist stylist-editor" data-stylist-id="{{ stylist.id }}" data-stylist-order="{{ stylist.order }}">
		<div class="stylist-image-container">
			<div class="edit-caption">
				<img src="../static/assets/dashboard/image-icon.png" alt="Image icon" class="content-icon">
				<h4 class="edit-caption-text actionable replace-stylist-photo-button">Replace photo</h4>
			</div>
			<form action="#" method="POST" enctype="multipart/form-data">
				<input class="stylist-photo-input" name="images" type="file" accept="image/*" hidden>
				<img class="stylist-image stylist-image-preview" src="{{ stylist.image }}"
					alt="{{stylist.name}}'s image"></img>
			</form>
		</div>
		<div class="stylist-text">
			<div class="stylist-name-container">
				{% if not loop.first %}
				<img src="../static/assets/delete-icon.png" class="remove-stylist" alt="Remove stylist">
				{% endif %}
				<h4 class="italiana-regular stylist-name">{{ stylist.name }}</h4>
			</div>

			<p class="stylist-bio">{{ stylist.bio }}</p>
			<div class="pink-button save-changes disabled">Save changes</div>
		</div>
	</div>
	{% endfor %}
</div>
{% endblock %}

{% block scripts %}
<script type="module" src="../static/dashboard/scripts/pages/stylists.js"></script>
{% endblock %}