<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <title>Admin - TopStyle by Kate Noda</title>        
        <link rel="icon" href="../static/assets/icons/TopStyleLogo.ico" type="image/x-icon" />

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Italiana&display=swap" rel="stylesheet">
        
        <link rel="stylesheet" href="../static/admin/cms.css" />
    </head>

    <body>
        <div id="app">
            <iframe id="iframe" src="/?edit=true" sandbox="allow-same-origin allow-scripts allow-forms"></iframe>
        </div>
    </body>
</html>