{% extends "main/base.html" %}

{% block title %}Bridal - TopStyle by Kate Noda{% endblock %}

{% block styles %}
<link rel="stylesheet" href="../static/main/services.css" />
<link rel="stylesheet" href="../static/main/bridal.css" />
{% endblock %}

{% block content %}
<section id="bridalSection">
    <h1 class="italiana-regular" id="bridalHeading">Bridal Services <br /> (Please call for inquiries)</h1>

    <div class="desktop-container-horizontal">
        <img src="{{ images_by_category.get('bridal', '') }}" id="bridalPhoto" />

        <div class="desktop-container-vertical">
            <div class="services-menu-container">
                {% for service in services_by_category.get('bridal', []) %}
                <div class="service">
                    <div class="service-flex">
                        <p class="service-name">{{ service.name }}</p>
                        <div class="service-price">{{ service.price }}</div>
                    </div>
                    {% if service.details %}
                    <div class="service-details">{{ service.details }}</div>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endblock %}