{% extends "main/base.html" %}

{% block title %}Home - TopStyle by Kate Noda{% endblock %}

{% block meta %}
<meta name="format-detection" content="telephone=no">
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="../static/main/index.css" />
{% endblock %}

{% block content %}
<section id="heroSection">
    <div class="desktop-container-horizontal">
        <div class="desktop-container-vertical">
            <h1 class="italiana-regular" id="heroText">{{ home_about_section.heading }}</h1>

            <p class="paragraph-text">{{ home_about_section.text }}</p>

            <div class="social-media-icons" id="socialMediaHero">
                <a href="https://www.facebook.com/topstylehairbykatenoda/">
                    <img src="../static/assets/FacebookLogo.png" alt="Facebook" class="social-media-icon" />
                </a>
                <a href="https://www.instagram.com/topstyle.katenoda/?hl=en">
                    <img src="../static/assets/InstagramLogo.png" alt="Instagram" class="social-media-icon" />
                </a>
                <a href="https://www.yelp.com/biz/top-style-by-kate-noda-reston">
                    <img src="../static/assets/YelpLogo.png" alt="Yelp" class="social-media-icon" />
                </a>
            </div>
        </div>

        <div id="aboutGalleryContainer">
            <div id="galleryRows">
                <div class="gallery-row"></div>
                <div class="gallery-row"></div>
                <div class="gallery-row"></div>
            </div>

            <div id="galleryCols">
                <div class="gallery-col"></div>
                <div class="gallery-col"></div>
                <div class="gallery-col"></div>
            </div>

            <div id="galleryImgs">
                <div class="gallery-item">
                    <div class="img-placeholder"></div>
                    <img data-src="{{ home_about_section.gallery_image1 }}" alt="gallery image"
                        class="gallery-img lazy" />
                </div>
                <div class="gallery-item">
                    <div class="img-placeholder"></div>
                    <img data-src="{{ home_about_section.gallery_image2 }}" alt="gallery image"
                        class="gallery-img lazy" />
                </div>
                <div class="gallery-item">
                    <div class="img-placeholder"></div>
                    <img data-src="{{ home_about_section.gallery_image3 }}" alt="gallery image"
                        class="gallery-img lazy" />
                </div>
                <div class="gallery-item">
                    <div class="img-placeholder"></div>
                    <img data-src="{{ home_about_section.gallery_image4 }}" alt="gallery image"
                        class="gallery-img lazy" />
                </div>
                <div class="gallery-item">
                    <div class="img-placeholder"></div>
                    <img data-src="{{ home_about_section.gallery_image5 }}" alt="gallery image"
                        class="gallery-img lazy" />
                </div>
                <div class="gallery-item">
                    <div class="img-placeholder"></div>
                    <img data-src="{{ home_about_section.gallery_image6 }}" alt="gallery image"
                        class="gallery-img lazy" />
                </div>
                <div class="gallery-item">
                    <div class="img-placeholder"></div>
                    <img data-src="{{ home_about_section.gallery_image7 }}" alt="gallery image"
                        class="gallery-img lazy" />
                </div>
                <div class="gallery-item">
                    <div class="img-placeholder"></div>
                    <img data-src="{{ home_about_section.gallery_image8 }}" alt="gallery image"
                        class="gallery-img lazy" />
                </div>
                <div class="gallery-item">
                    <div class="img-placeholder"></div>
                    <img data-src="{{ home_about_section.gallery_image9 }}" alt="gallery image"
                        class="gallery-img lazy" />
                </div>
            </div>
        </div>
    </div>

    <a href="https://na2.meevo.com/OnlineBookingApp/login?tenantId=500778&locationId=500950" id="bookAppointment"
        class="pink-button">Book Appointment</a>

</section>

<section id="servicesSection">
    <div class="desktop-container-horizontal">
        <div class="desktop-container-vertical">
            <h1 class="italiana-regular" id="servicesText">{{ home_services_section.heading }}</h1>

            <p class="paragraph-text">{{ home_services_section.text }}</p>

            <a href="/services" class="pink-button" id="ourServicesDesktop">Our Services</a>

        </div>

        <div class="video-container">
            <video id="salonVideo" autoplay loop muted playsinline>
                <source src="{{ home_services_section.salon_video }}" type="video/mp4">
            </video>
        </div>
    </div>

    <a href="/services" class="pink-button" id="ourServices">Our Services</a>
</section>

<section id="stylistsSection">
    <div class="desktop-container-horizontal">
        <div class="desktop-container-vertical">
            <h1 class="italiana-regular" id="stylistsText">{{ home_stylists_section.heading }}</h1>

            <p class="paragraph-text">{{ home_stylists_section.text }}</p>

            <a href="/stylists" class="pink-button" id="ourStylistsDesktop">Our Stylists</a>
        </div>

        <div class="desktop-container-vertical" id="stylistsImagesVerticalContainer">
            <img src="{{ home_stylists_section.stylists_image }}" id="stylistsGroupPhoto" />
        </div>
    </div>


    <a href="/stylists" class="pink-button" id="ourStylists">Our Stylists</a>
</section>

<section id="bridalSection">
    <div class="desktop-container-horizontal">
        <div class="desktop-container-vertical">
            <h1 class="italiana-regular" id="bridalText">{{ home_bridal_section.heading }}</h1>

            <p class="paragraph-text">{{ home_bridal_section.text }}</p>

            <a href="/bridal" class="pink-button" id="bridalButtonDesktop">Bridal Services</a>
        </div>

        <div id="bridalImageGrid">
            <img src="{{ home_bridal_section.bridal_image1 }}" class="bridal-img">
            <img src="{{ home_bridal_section.bridal_image2 }}" class="bridal-img">
            <img src="{{ home_bridal_section.bridal_image3 }}" class="bridal-img">
            <img src="{{ home_bridal_section.bridal_image4 }}" class="bridal-img">
        </div>
    </div>

    <a href="/bridal" class="pink-button" id="bridalButton">Bridal Services</a>
</section>

<section id="contact">
    <div class="desktop-container-horizontal" id="contactSectionHorizontalContainer">
        <div class="desktop-container-vertical" id="contactInformationDesktopContainer">
            <div class="contact-information" id="hoursInformation">
                <h3 class="contact-heading" id="hoursHeading">Hours</h3>
                <p class="contact-text">Sunday: Closed</p>
                <p class="contact-text">Monday: 10:00 a.m - 6 p.m</p>
                <p class="contact-text">Tuesday - Friday: 10:00 a.m - 9 p.m</p>
            </div>

            <div class="contact-information" id="phoneInformation">
                <h3 class="contact-heading" id="hoursHeading">Phone</h3>
                <p class="contact-text">(571) 356-5670</p>
            </div>

            <div class="contact-information" id="addressInformation">
                <h3 class="contact-heading" id="hoursHeading">Address</h3>
                <p class="contact-text">1641 Washington Plaza N,</p>
                <p class="contact-text">Reston, VA 20190</p>
            </div>
        </div>

        <form action="" method="POST" id="contactForm" novalidate>
            <h3 class="contact-heading" id="contactUsHeading">Contact Us</h3>
            <input type="hidden" name="contact_number">
            <div class="contact-input-container" id="nameInputContainer">
                <label for="from_name" class="contact-text">Name:</label>
                <input name="from_name" type="text" class="contact-input" required />
            </div>

            <div class="contact-input-container" id="emailInputContainer">
                <label for="reply_to" class="contact-text">Email:</label>
                <input name="reply_to" type="email" class="contact-input" required />
            </div>

            <div class="contact-input-container" id="messageInputContainer">
                <div id="emailSentPopupOverlay"></div>
                <div id="emailSentPopup">
                    <img src="../static/assets/TopStyleLogo.png" class="top-style-logo" alt="TopStyle salon logo" />
                    <h1 class="italiana-regular" id="emailSubmitMessage"></h1>
                    <img src="../static/assets/CloseIcon.png" class="close-icon" id="messageClose"
                        alt="Close Message" />
                </div>
                <p class="contact-text">Message:</p>
                <textarea name="message" class="contact-input message-input" required></textarea>
            </div>

            <input type="submit" class="pink-button" id="sendButton" value="Send">

            <div class="social-media-icons" id="socialMediaContact">
                <a href="https://www.facebook.com/topstylehairbykatenoda/">
                    <img src="../static/assets/FacebookLogo.png" alt="Facebook" class="social-media-icon" />
                </a>
                <a href="https://www.instagram.com/topstyle.katenoda/?hl=en">
                    <img src="../static/assets/InstagramLogo.png" alt="Instagram" class="social-media-icon" />
                </a>
                <a href="https://www.yelp.com/biz/top-style-by-kate-noda-reston">
                    <img src="../static/assets/YelpLogo.png" alt="Yelp" class="social-media-icon" />
                </a>
            </div>
        </form>
    </div>
</section>
{% endblock %}

{% block scripts %}
<script type="module">
    import { initLazyLoad } from "../static/dashboard/scripts/lib/lazy-load.js";
    initLazyLoad();
</script>

<script>
    document.querySelectorAll("a[href*='OnlineBookingApp/login']").forEach((link) => {
        link.addEventListener("click", () => {
            navigator.sendBeacon("/stats/appointments-click");
        });
    });
</script>

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js"></script>

<script type="text/javascript">
    (function () {
        emailjs.init('hDUAaB2fOlf57zpoP');
    })();
</script>

<script type="text/javascript">
    const overlay = document.getElementById("emailSentPopupOverlay")
    const popup = document.getElementById("emailSentPopup")
    const messageClose = document.getElementById("messageClose")
    const emailSubmitMessage = document.getElementById("emailSubmitMessage")

    window.onload = function () {
        form = document.getElementById('contactForm')
        form.addEventListener('submit', function (event) {
            event.preventDefault();

            if (!this.checkValidity()) {
                this.reportValidity()
                return
            }

            this.contact_number.value = Math.random() * 100000 | 0;
            emailjs.sendForm('topstyle_service', 'contact_template', this)
                .then(function () {
                    form.reset()
                    fetch('/stats/email-sent', { method: 'POST', keepalive: true })
                    emailSubmitMessage.textContent = "Thank you for contacting the TopStyle salon. We will reach out to out to you shortly!"
                    overlay.style.visibility = "visible"
                    overlay.style.opacity = "1"

                    popup.style.visibility = "visible"
                    popup.style.top = "4rem"

                }, function (error) {
                    emailSubmitMessage.textContent = "Sorry, your message was not delivered."
                    overlay.style.visibility = "visible"
                    overlay.style.opacity = "1"

                    popup.style.visibility = "visible"
                    popup.style.top = "4rem"
                });


        });
    }

    messageClose.addEventListener("click", () => {
        popup.style.top = "-30rem"
        popup.style.visibility = "hidden"

        overlay.style.opacity = "0"
        overlay.style.visibility = "hidden"
    })
</script>
{% endblock %}