{% extends "main/base.html" %}

{% block title %}Stylists - TopStyle by Kate Noda{% endblock %}

{% block styles %}
<link rel="stylesheet" href="../static/main/stylists.css" />
{% endblock %}

{% block content %}
{% if stylists is defined and stylists %}
{% for stylist in stylists %}
<section class="stylist">
    <div class="desktop-container-horizontal">
        <h1 class="italiana-regular stylist-name-mobile">{{ stylist.name }}</h1>
        <img src="{{ stylist.image }}" class="stylist-image" />

        <div class="desktop-container-vertical">
            <h1 class="italiana-regular stylist-name-desktop">{{ stylist.name }}</h1>
            <p class="paragraph-text stylist-bio">{{ stylist.bio if stylist.bio else '' }}</p>
        </div>
    </div>
</section>
{% endfor %}
{% endif %}
{% endblock %}