.desktop-container-vertical, .desktop-container-horizontal { width: 100%; }

section { gap: 2.5rem; }

.stylist {
    margin-top: 50px;
}

.stylist-name-mobile { display: block; }
.stylist-name-desktop { display: none; }

.stylist-image {
    width: 90%;
}

.stylist-bio {
    text-align: center;
    width: 90%;
}

@media(min-width: 800px) {
  .desktop-container-vertical { align-items: center; }

  .stylist { margin-top: 100px; padding-top: 7px; }

  .stylist-name-mobile { display: none; }
  .stylist-name-desktop { display: block; }

  .stylist-image { width: 30vw; max-width: 350px; }

  .desktop-container-horizontal {
    gap: 3rem;
    margin-top: 50px;
    align-items: start;
  }
}