section {
  flex-direction: column;
}

.desktop-container-vertical { gap: 1.5rem; }

#pricingNoteHeading {
  margin-top: 2rem;
  width: 100%;
  text-align: center;
}

#pricingNote {
  color: var(--text-color-light);
  text-align: center;
  padding: 0;
  width: 90%;
  font-size: 1.6rem;
}

.service {
  height: 10rem;
}

.service span {
  color: var(--pink);
}

.service-flex {
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: var(--font-family-regular)
}

.service-name {
    width: 60%;
    display: block;
    color: var(--text-color-regular);
    font-size: 1.6rem;
}

.service-price { font-size: 1.6rem; }

.service-details {
  color: var(--text-color-light);
  font-size: 1.6rem;
}

.services-menu-container {
    width: 90%;
}

.services-photo {
    width: 90%;
}

@media(min-width: 1000px) {
  section {
    padding: 0 2rem 0 2rem;
    align-items: start;
  }

  #popularSection { margin-top: 10rem; padding-top: 0.7rem; }
  #pricingNoteHeading, #pricingNote { margin: 0; padding: 0; width: auto; text-align: left;}
  #pricingNote {
    width: 80vw;
  }

  .italiana-regular { padding-bottom: 2rem; }

  .desktop-container-vertical {
    width: 60vw;
    margin: 0;
  }

  .desktop-container-horizontal {
    margin-top: 3rem;
    flex-direction: row-reverse;
    align-items: start;
  }

  .services-photo {
    width: 25rem;
    height: 25rem;
  }
}