section {
  flex-direction: column;
}

.desktop-container-vertical { gap: 1.5rem; }

#pricingNoteHeading {
  margin-top: 20px;
  width: 100%;
  text-align: center;
}

#pricingNote {
  color: var(--text-color-light);
  text-align: center;
  padding: 0;
  width: 90%;
}

.service {
  height: 100px;
}

.service span {
  color: var(--pink);
}

.service-flex {
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: var(--font-family-regular)
}

.service-name {
    width: 60%;
    display: block;
    color: var(--text-color-regular);
}

.service-details {
  color: var(--text-color-light);
}

.services-menu-container {
    width: 90%;
}

.services-photo {
    width: 90%;
}

@media(min-width: 800px) {
  section {
    padding: 0 20px 0 20px;
    align-items: start;
  }

  #popularSection { margin-top: 100px; padding-top: 7px; }
  #pricingNoteHeading, #pricingNote { margin: 0; padding: 0; width: auto; text-align: left;}
  #pricingNote {
    width: 80vw;
  }

  .italiana-regular { padding-bottom: 20px; }

  .desktop-container-vertical {
    width: 60vw;
    margin: 0;
  }

  .desktop-container-horizontal {
    margin-top: 30px;
    flex-direction: row-reverse;
    align-items: start;
  }

  .services-photo {
    width: 250px;
    height: 250px;
  }
}