@import url('../../shared/services.css');

.services-section {
    width: 90%;
    margin-left: -45%;
    position: relative;
    top: 50px;
    left: 50%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.services-container {
    width: 50%;
}

.category-image-container {
  display: block;
}

.category-image {
  width: 300px;
}

.service-heading { margin-bottom: 50px; }

/* Service table overrides (base in shared/services.css) */
.service-flex { color: var(--font-family-regular) }

.service-name {
    width: 75%;
    cursor: text;
    font-size: 1.35rem;
}

.service-price { font-size: 1.35rem; cursor: text; }

.service-details {
  font-size: 1.35rem;
  cursor: text;
  display: inline-block;
  min-width: 250px;
}

.service-detail-placeholder { font-style: italic; color: #92929284; }

.services-menu-container { margin-top: 20px; }

.service-name, .service-details, .service-price { padding: 5px; outline: none; }


.service-flex:hover, .service-details:hover,
.service-flex:focus-within, .service-details:focus-within {
    outline: 1px dashed var(--text-color-light);
}

.pink-button.save-changes {
  margin: 0;
  margin-top: 10px;
}

.service:hover > .edit-caption { visibility: visible; }